@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
 box-sizing: border-box;
 margin: 0;
 padding: 0;
 font-family:"Roboto", sans-serif ;

}
body{
    background-color: rgb(245, 245, 245);

}
li{
    list-style-type: none;
}
p{
    /* line-height: 1.5; */
    font-size: 16px;
}
a{
    text-decoration: none;
}
.title{
    font-size: 120px;
    line-height: 1;
    text-align: left;
    margin-bottom: 12px;
}
.orange{
    color: #f06449;
}

/* 
LANDING SECTION
 */

#landing-page{
    min-height: 100vh;
}



/* NAVIGATION SECION */

nav{
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    align-items: center;
    margin: 0 auto;
    height: 100px;
    padding: 0 20px;

}
#personal-logo{
    /* filter: invert(1);  */
    height: 50px;
     width: 50px;
    }
.nav__link--list{
    display: flex;
    
}
.nav__link{
    margin: 0 12px;
}
.nav__link--anchor{
  
  font-size: 15px;
  color: #242424;
  font-weight: 700;
}
.fa-adjust{
    font-size: 20px;
}
/* header
 */
 .header{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-width: 1000px;
    width: 100%;
    padding: 0 30px;
 }
 .header__para{
    font-size: 24px;
    line-height: 2;
    max-width: 450px;
 }
 .social__list{
    margin-top: 16px;
    display: flex;

 }
 .social_link{
    background-color: #f06449;
    color: white;
    padding: 6px;
    width: 32px;
    height: 32px;
    font-size: 14px;
    margin-right: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
 }